h1 {
	width: 100%;
	text-align: center;
}

.section-1{
	width: 40%;
	margin: 5% 2% 10% 8%;
	float: left;
}

.section-2{
	width: 40%;
	margin: 5% 8% 10% 2%;
	float: left;
}

h2{
	font-family: helvetica;
	color: #696969;
}

.botao-tabela{
	width: 100%;
}

.tabela-centro{
	margin: 0 auto;
	position: relative;
	width: 50%;
	display: table;
	background-color: #F5F5F5;
	padding: 2%;
}

form{
	width: 100%;
	display: table;
}
table {
	border-collapse: collapse;
	border-color: #000000;
	border-style: solid;
	background-color: #FFF;
	width: 100%;
	font-family: helvetica;
}



th{
	background-color: #CAE1FF;
}

label {
	float: left;
	width: 19%;
	text-align: right;
	margin-right: 1%;
	margin-top: 1%;
}

label.obrigatorio:after {
	content:"*";
	display:inline-block;
	color:#C00;
	margin-left:2px;
}

.radio{
	float: left;
	width: 40%;
	margin: 0;
	text-align: left;
	box-sizing: border-box;
}

input{
	float: left;
	width: 77%;
	padding: 1%;
	font-size: 1em;
	font-family: helvetica;
}

input[type = "radio"]{

	width: 10%;

}

select{
	font-family: helvetica;
	font-size: 1em;
}

.botao{
	float: left;
	width: 7%; 
	padding: 1%; 
	margin: -8% 15% 0% 13%;
	background-color: #00FF7F;
	border-radius: 10%;
	font-size: 130%;
	border: 0;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

}

.botao2{
	float: left;
	width: 5%; 
	padding: 1%; 
	margin: -8% 15% 0% 21%;
	background-color: #CAE1FF;
	border-radius: 10%;
	font-size: 130%;
	border: 0;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.botao3{
	
	width: 7%; 
	height: 8%; 
	background-color: #CAE1FF;
	border-radius: 10%;
	font-size: 130%;
	border: 0;
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	margin: 5% 5% 1% 0%;
}

.botao:hover{
	background-color: #999;
}

.botao2:hover{
	background-color: #999;
}

.botao3:hover{
	background-color: #999;
}

select{
	padding: 1%;
}

.row{
	margin: 1% 0;
	float: left;
	width: 100%;
}

